<!DOCTYPE html>
<html>
  <head>
    <title>Tennisser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu-bar">
      <div class="title">
        <p>Tennisser!</p>
      </div>
      <div class="list">
        <ul>
          <li>マイページ</li>
          <li>掲示板に投稿する</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </div>
    
    <%= yield %>
    
  </body>
</html>
